body {
    font-family:chess;
    margin: 0;
    background-color:black;
}

.square {
    background: black;
    display:inline-block;
    border: 1px solid white;
    text-align:center;
    position: absolute;
    cursor: pointer;
}
